*{
    box-sizing: border-box;
}
#navbar {
    list-style-type: none;
    position: fixed;
    left: 0;.
    top: 0;
    width:100%;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon;
    height: 5vh;
}

.navbar-item {
    float: left;

}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.navbar-link:hover:not(.active) {
    background-color: #777;
}

.active{
background-color: #04AA6D;
}


