*{
box-sizing: border-box;
}
.nav-contain{
    display: block;
    float: top;
    width: auto;
    height: 20vh;
    margin: 0px;
    border: 2px solid green;
}

main, aside, footer {
    display: block;
}
.wrapper{
    width: 1280px;
    margin: 0px auto 20px auto;
}
section.om-blogg{
    float: left;
    width: 800px;
    border-right:2px solid #d9a4e7;
}
article{
    clear: both;
    overflow: auto;
    width: 100%;
}
article h2{
    margin-top: 20px;
}
article p{
    text-align: left;
}

.om-blogg img{
    float: left;
    width: 250px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid seashell;
}
aside {
     width: 230px;
     float: left;
     padding: 0px 0px 0px 20px;
 }

.wrapper footer{
    float: bottom;
    width: 100%;
    position: fixed;
}

