table{
    border-collapse: collapse;
    width: 100%;

}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: indigo;
    color: white;
}

#date tr:nth-child(odd){background-color: #cccccc}
