body {
    background-color: lavender;
}
header {
    background-color: #8f6f97;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
}
img {
   /* border-radius: 10px;*/
    padding: 20px;
    float: left;
}
h1 {
    font-size: 40px;
}
h2{
    font-size: 35px;
}
p {
    font-size: 20px;
    margin-right: 4em;
}
ul li {
    list-style-type: square;
    font-size: 20px;
}

/* härifrån är till test.html */
.my_image {
    margin: 0;
    background-image: url("../img/samantha.jpg");
    position: static;
    background-color: #cccccc;
    height: 1000px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}
.my_text {
    text-align: left;
    color: darkviolet;
}
