
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: lavender;
}
header {
    padding-top: 40px;
    /*width: 100%;*/
    text-align: center;
    background-color: #d9a4e7;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}
h1 {
    font-size: 40px;
}
h2{
    font-size: 35px;
}
header h2{
    font-size: 30px;
    margin-top: 20px;
}
h3{
    font-size: 25px;
}
h4{
    font-size: 20px;
}
p {
    font-size: 20px;
    margin-right: 4em;
    margin-left: 1em;
    text-align: center;
}




