*{
    box-sizing: border-box;
}
.main-container{
    display: flex;
    flex-direction: row;
    height: 70vh;
}
img, article{
    border-style: ridge;
    border-width: thick;
    border-color: burlywood;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-right-width: 20px;
    border-left-width: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
article{
    width: 40vw;
    height: 70vh;
    margin-right: 20px;
}
article h1{
    font-size: 1em;
}
article p{
    font-size: medium;
}
img {
    width: 30vw;
    height: 70vh;
    margin-left: 20px;
    margin-right: 20px;
}

#fritid, #utbildning, #arbet{
    border-style: ridge;
    border-width: thick;
    border-color: burlywood;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-right-width: 20px;
    border-left-width: 20px;
    /*margin-left: 20px;*/
    margin-right: 20px;
    width: 30vw;
}
#fritid, #arbet{
    height: 20vh;
}
#utbildning{
    height: 30vh;
    margin-top: 5px;
    margin-bottom: 5px;
}
#fritid{
    margin-top: 20px;
}
#arbet{
    margin-bottom: 20px;
}

section ul li {
    list-style-type: square;
    font-size: large;

}
section ul li p{
    text-align: left;
    font-size: medium;
}
.in-container{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 30vw;
}


