*{
    box-sizing: border-box;
}
nav{
    height: 5vh;
}
header{
    height: 10vh;
}
img{
    width: 100%;
    height: 300px;
    padding: 40px;
    border: 20px;
}
.main1, .main2, .main3{
    display: flex;
    flex-direction: row;
    margin-left: 10em;
    margin-right: 20em;
    margin-bottom: 5em;
    border-color: burlywood;
    border-style: solid;
    width: auto;

}
.main1, .main2, .main3 {
    width: auto;
    /*height: 25vh;*/
    height: auto;
}

footer{
    height: 10vh;
}