
.Navbar{
    display: flex;
    flex-direction: row;
    background-color: #333;
    height: 130px;
}

.Logo{
    width: 100px;
    height: 100px;
    margin: 20px;

}
.Nav-item{
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

.Nav-list{
    display: block;
    color: red;
    text-align: center;
    margin: 20px;
    padding: 20px;
    text-decoration:none;
    float: left;
}

.active {
    background-color: #129a22;
}