*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightsalmon;
}
main{
   background-color: navajowhite;
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.grid-container1{
    display: grid;
    background-color: #cccccc;
    grid-template-columns: 100px auto 200px;
    border: 1px solid beige;
}
}
.grid-item1{
    background-color: #04AA6D;
    border: 1px solid beige;
}
.grid-item2{
    background-color: #8f6f97;
    border: 1px solid beige;
}
.grid-container2{
    display: grid;
    background-color: #d9a4e7;
    grid-template-columns: 1fr  3fr 2fr;

}
.grid-item4{
    background-color: aquamarine;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
