*{
    box-sizing: border-box;
}
:root{
    --backgroud-color:#CC9DFA;
    --bar-color:#6217AD;
    --text-color:#AD1724;
}

body{
background-color: var(--backgroud-color);
}
.container{
    background-color:var(--bar-color);
    display: grid;
    grid-template-columns: ;
}