/*mobile*/
iframe{
    /*padding-left: 100px;*/
    width: 100vw;
    height: 100vh;
}
/*tablet*/
@media only screen and (min-width: 768px) {
    iframe{
        width: 90vw;
        height: 80vh;
        margin-left: 50px;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
    iframe{
        width: 90vw;
        height: 80vh;
        margin-left: 100px;
    }
}