nav{
    display: flex;
    flex-direction: column;
    background-color: #333;
   }
.nav-item {
    padding: 1em;
    text-align: center;
    align-items: center;
}
.nav-link{
    color: var(--show-color-nav-head-foot);
    text-decoration: none;
    font-size: var(--frontsize-nav);

}
.nav-item:hover{
    color: #f1f1f1;
}
/* Tablet */
@media only screen and (min-width: 768px) {
    nav{
      flex-direction: row;
    }

}

/* Desktop */
@media only screen and (min-width: 1200px) {

    nav {
        flex-direction: row;
    }

    .nav-item {
        padding: 0.5em 1em;
        align-items: center;
    }
}