
:root {
    --sidebar-flex: 1.5;
    --show-flex: 6;
    --fontsize-p: 3rem;
    --frontsize-nav: 1.6rem;
    --fontsize-h1: 5em;
    --fontsize-h3: 3em;
    --show-color:#865439;
    --show-font-color:#D7B19D;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    float: left;
    flex-direction: row;
    padding: 60px 30px 60px 30px;
    background-color: var(--show-color);
    /*background: coral;*/
}
nav{
    padding: 60px 70px 60px 30px;
    /*background-color: darkslategray;*/
}
nav ul{
    font-size: var(--frontsize-nav);
    text-align: center;
    list-style: none;
}
nav ul li{
    margin: 40px;
}
nav ul li a{
    color: #FFA372;
    text-decoration: none;
}

.showInfo{
position: relative;
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.showInfo::before {
    content: "";
    background-image: url("./img/backgroundMaten.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}
h1 {
    position: relative;
    color:var(--show-font-color);
    font-size: var(--fontsize-h1);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;
}
h3{
    position: relative;
    color:var(--show-font-color);
    font-size: var(--fontsize-h3);
    line-height: 0.5;
    text-align: center;
    margin-bottom: 50px;
}
.home{
    padding: 100px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
}
.logo{
    border-radius: 80%;
    width: 500px;
    margin: 0 20px 0 20px;
    align-items: center;
    /*opacity: 1.0;*/
}
.textHome{
    text-align: center;
    /*margin: 30px;*/
    color:var(--show-font-color);

}
.social{
    position: relative;
    /*margin-top: px;*/
    display: flex;
    /*bottom: 10px;*/
}
.social i{
    padding-right: 30px;
    font-size: 50px;
    color: #D7B19D;
}
.social i:hover{
    color:#333;
}
