.erbjudande{
    width: 100%;
    height: 50vh;
    background-image : url(../img/behandlingHead.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: center;



}