body{
    background: burlywood;
}
article {
    background-color: mediumorchid;
    margin: 50px 200px;
    width: auto;
    text-align: center;
    border-radius: 15px;
    height: auto;
    padding-bottom: 10px;
}
button {
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    width: 100px;
    cursor: pointer;
    font-size: 12px;
}
input{
    border-radius: 6px;
    padding: 5px;
    width: 150px;
    border: solid 1px grey;
    margin-bottom: 10px;
}