*{
    box-sizing: border-box;
}
body{
    margin: auto ;
    max-width: 1280px;
    background-color: #d9a4e7;
}
.header-container{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    background-color: #777777;
    max-height: 100px;
}
.header-item{
    /*background-color: red;*/
    alignment: auto
}
.checkOut-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.checkOut-item{
    alignment: left;
}
nav {
    clear: both;
    height: 50px;
    background-color: #04AA6D;
}
nav ul{
    margin: 0px;
    padding: 5px 0px 5px 50px;
    /*text-align: center;*/
    /*overflow: hidden;*/

}
nav li{
    display: block;
    float: left;
    padding: 10px;
    /*text-align: center;*/

    /*background-color: yellow;*/
/*}*/

