*{
    box-sizing: border-box;
}
body{
    margin: auto ;
    max-width: 1280px;
    background-color: bisque;
}
.header-container{
    display: grid;
    grid-template-columns: 3fr  1fr 1fr;
    background-color: #f9f9f9;
    max-height: 100px;
}
.header-item{
    background-color: yellowgreen;
    /*margin: 50px;*/
    /*alignment: auto;*/
}
.searchLog-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    /*border: 1px solid green;*/
    position: relative;
    max-height: 80px;
    margin-top: 30px

}
.searchLog-item{
    /*background-color: goldenrod;*/
    alignment: left;
    /*border: 3px darkblue solid;*/
    margin: 10px;
}
.checkOut-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border: 1px solid yellow;
    position: relative;
    max-height: 80px;
    margin-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
;
}
.checkOut-item{
    background-color: red;
    alignment: left;
    cursor: pointer;
    border: 3px darkblue solid;
    margin: 10px;

}
.checkOut-item:hover, .checkOut-item:focus {
    /*background-color: #2980B9;*/
    background-color: orange;
}
.checkOut-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.show {
    display: block;
}

/* Grid test börjar här */
.area-item1 {
    grid-area: side;
}

.area-item2 {
    grid-area: top;
}

.area-item3 {
    grid-area: bottom;
}

.grid-container3 {
    display: grid;
    grid-template-areas:
            'top    top    side'
            'bottom bottom side';
    grid-gap: 0.5em;
    background-color: #2196F3;
    padding: 0.5em;
}

.grid-item1 {
    background-color: aquamarine;
    border: 1px solid black;
    padding: 1em;
    text-align: center;
}
/*test slutar här*/
nav {
    clear: both;
    height: 50px;
    background-color: wheat ;
}
nav ul{
    margin: 0;
    padding: 5px  5px 50px;
    /*text-align: center;*/
    /*overflow: hidden;*/

}
nav li {
    display: block;
    float: left;
    padding: 10px;
    /*text-align: center;*/

    /*background-color: yellow;*/
    /*}*/
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*background-color: yellow;*/
}
.album {
    display: grid;
    grid-template-rows: 1fr;
}
p{
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;

}
button{
    width: 100px;
    height: 50px;
    border: 1px solid darkblue;
    margin-bottom: 20px;
    margin-left: 100px;
}